# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
uvicorn=0.17.5
argparse=1.4.0
python-dotenv=0.19.2
numpy=1.21.4
matplotlib=3.5.1
fastapi=0.75.0
opencv-python=4.5.4.58
scikit-learn=1.0.2
pyTelegramBotAPI=4.4.0